<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :artist %>
    <%= form.text_field :artist, required: true %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :price_low %>
    <%= form.number_field :price_low, required: true, value: number_to_currency(form.object.price_low, delimiter: '.', unit: ''), step: :any %>
  </div>

  <div class="field">
    <%= form.label :price_high %>
    <%= form.number_field :price_high, required: true, value: number_to_currency(form.object.price_high, delimiter: '.', unit: ''), step: :any %>
  </div>

  <div class="field">
    <%= form.label :event_date %>
    <%= form.date_select :event_date, required: true %>
  </div>

  <div class="actions">
    <%= form.submit 'Create', :class => 'btn btn-primary' %>
  </div>
<% end %>
