<div class="container p-3 mt-5 w-50 text-center">
  <div class="card mx-auto" style="width: 30rem;">
    <div class="card-body">
      <h5 class="card-title"><%= @event.artist %></h5>

      <% if @event.description %>
        <h6 class="card-subtitle mb-2 text-muted"><%= @event.description %></h6>
      <% end %>

      <ul class="list-group list-group-flush">
        <li class="list-group-item "><strong>Price low: </strong></strong><%= @event.price_low %></li>
        <li class="list-group-item"><strong>Price high: </strong><%= @event.price_high %></li>
        <li class="list-group-item"><strong>Event date: </strong><%= @event.event_date %></li>
      </ul>
    </div>
  </div>

  <% if user_signed_in? %> 
    <%= render "tickets_list", tickets: current_user.tickets.where(event_id: @event.id) %>
    <%= render "new_ticket", ticket: Ticket.new(:event_id => @event.id, :user_id => current_user.id, :email_address => current_user.email) %>
  <% end %>

  <%= link_to 'Back', events_path, :class => 'mt-3 btn btn-secondary'%>
</div>
