<p id="notice"><%= flash[:notice] %></p>

<p>
  <strong>Artist:</strong>
  <%= @event.artist %>
</p>

<p>
  <strong>Description</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Price low:</strong>
  <%= @event.price_low %>
</p>

<p>
  <strong>Price high:</strong>
  <%= @event.price_high %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @event.event_date %>
</p>

<br>

<%= render "tickets_list", tickets: @event.tickets %>

<br>

<%= render "new_ticket", ticket: Ticket.new(:event_id => @event.id) %>

<br>

<%= link_to 'Back', events_path %>
