<!DOCTYPE html>
<html>
  <head>
    <title>Bilecik</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a class="navbar-brand h1 text-white" href="/">Bilecik</a>

      <a class="<%= active_class(events_path) %> nav-item nav-link" href="/events">Events</a>
      <% if user_signed_in? %>
        <a class="<%= active_class(tickets_path) %> nav-item nav-link" href="/tickets">Tickets</a>
      <% end %>

      <% if user_signed_in? %>
        <div class="ml-auto">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.email%>
          </button>
          <div class="dropdown-menu dropdown-menu-right text-left" aria-labelledby="dropdownMenuButton">
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'dropdown-item' %>
          </div>
        </div>
      <% else %>
        <div class="ml-auto">
          <%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-primary' %>
          <%= link_to "Log in", new_user_session_path, :class => 'btn btn-primary' %>
        </div>
      <% end %>
    </nav>

    <%if notice %>
      <div class="alert alert-success"><%= notice %></div>
    <%end%>
    <%if alert %>
      <div class="alert alert-danger"><%= alert %></p>
    <%end%>
    
    <%= yield %>
  </body>
</html>
